@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;700&family=Montserrat:ital,wght@0,100;0,500;1,100;1,200;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background-day{
    background: linear-gradient(to bottom, #2F2CBC, #4BB5F1);
}

.background-night{
    background: linear-gradient(to bottom, #06050E, #223076);
}

body{
    object-fit: cover;
    font-family: 'Afacad', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    background-position: center;
    object-fit: cover;
}

.search{
    background: transparent;
    position: absolute;
    right: 2%;
    width: 5%;
    transition: width 0.4s ease-in-out;
}


.searchFocus{
    width: 10rem;
    outline: none;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    border-radius: 0.5rem;
}

.contain{
    margin: 2rem;
    height: 90vh;
    width: 80%;
}