@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;700&family=Montserrat:ital,wght@0,100;0,500;1,100;1,200;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background-day{
    background: linear-gradient(to bottom, #2F2CBC, #4BB5F1);
}

.background-night{
    background: linear-gradient(to bottom, #06050E, #223076);
}

body{
    object-fit: cover;
    font-family: 'Afacad', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    background-position: center;
    object-fit: cover;
}

.search{
    background: transparent;
    position: absolute;
    right: 2%;
    width: 5%;
    transition: width 0.4s ease-in-out;
}


.searchFocus{
    width: 10rem;
    outline: none;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    border-radius: 0.5rem;
}

.searchFocus::placeholder{
    color: #fff;
}
@media screen and (min-width: 500px) {
    .searchIcon{
        position: absolute;
        right: 1.5rem;
    }
    .card{
        position: relative;
        transform: translateY(50%);
        transform: translateX(50%);
        margin-top: 4rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
        width: 50%;
        backdrop-filter: blur(50%);
        border-radius: 2rem;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 2rem;
    }
}
@media screen and (max-width: 480px) {
    .card{
        position: relative;
        transform: translateY(40%);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
        width: 100%;
        backdrop-filter: blur(50%);
        border-radius: 2rem;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 1rem;
    } 
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
}